body {
	font-family: Plumbc, sans-serif;
	color: $text-clr;
}

.container {
	@include container( 1000px );
	padding: 0px 12px;
	position: relative;
	overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: PlumbcBold, Plumbc, sans-serif;
}

