.content {		
	
	h1 {
		line-height: 1.2;
		font-size: 43px;
		//padding-right: 40px;		
		margin-bottom: 13px;
	}
	
	p {
		font-size: 14px;
		line-height: 1.5;
		//margin-top: 10px;
	}
	
	h2 {
		font-size: 33px;
		line-height: 1.3;
		font-family: PlumbcBold, Plumbc, sans-serif;
		font-weight: normal;
	}
	
	h3 {
		font-family: PlumbcBold, Plumbc, sans-serif;
		font-size: 25px;
	}
	
	ul {
		list-style-image: url("../img/list.png");
		padding-left: 22px;
	}
	
	ul li {
		font-size: 13px;
		line-height: 1.6;
		padding-left: 20px;
	}
	
	table {
		border: solid 1px lightgray;
		border-collapse: collapse;
		width: 100%;
		
	}
	
	table td, th {
		border: solid 1px lightgray;
		text-align: left;
		vertical-align: middle
	}
	table th {
		padding: 15px 0px;
        padding-left: 20px;
	}
	table td {
		padding: 10px 0px;
        padding-left: 20px;
	}
	table tr:nth-child(2n+1) {
		background: #c3e8f6;
	}
	
	table tr:nth-child(1) {
		background: #cce2a7;
	}
	table tr td:last-child{
		font-weight: 600;
	}
}
