.footer {
	
	* {
		color: #ffffff;
	}
	.footer__col-1 {
		@include span(full);
	}
	.footer__col-2 {
		@include span(full);
	}
	.footer__col-3 {
		@include span(full);
	}
	.cr {
		font-size: 11px;
		display: inline-block;
		margin-bottom: 10px;
		position: relative;

	}
	.mail {
		display: inline-block;
		margin-bottom: 10px;
		text-decoration: none;
		//font-weight: bold;
		font-family: PlumbcBold, Plumbc, sans-serif;
		font-size: 19px;
	    margin-right: 13px;
	}
	.phone {
		color: $green;
		//font-weight: bold;
		font-family: PlumbcBold, Plumbc, sans-serif;
		font-size: 20px;
		position: relative;
		left: 14px;
		top: -1px;
		a {
			text-decoration: none;
			color: $green;
		}
	}
	.phone__img {
		background-image: url("../img/green-phone.png");
		width: 28px;
		height: 18px;
		display: inline-block;
		background-repeat: no-repeat;
		background-size: contain;
		position: relative;
		left: -14px;
		top: 2px;
	}
	.creation {
		@include span(full);
		text-align: right;
		font-size: 13px;
		margin-top: 17px;
		color: #bababa;
	}
	@include susy-breakpoint($desktop) {
		.footer__col-1 {
			@include span(2 of 4 inside no-gutters);
		}
		.footer__col-2 {
			@include span(1 of 4 inside no-gutters);
			text-align: right;
		}
		.footer__col-3 {
			@include span(1 of 4 inside no-gutters last);
			text-align: right;
		}
		.cr {
			left: 3px;
			top: 3px;
		}
		.phone {
			left: 0px;
		}
	}
}