.main {
	@include span(full);
	//padding-left: 80px;
	//padding-top: 7px;
	padding-bottom: 71px;
	position: relative;
	top: -30px;
	
	@include susy-breakpoint($desktop) {
		@include span( 70.5% inside no-gutters);
		@include last;
		padding-left: 5%;
		padding-right: 3%;
	}
}
