.menu {
	
	@include susy-breakpoint($bigger-tablet) {
		display: table;
		width: 100%;
	}
	
	ul {
		display: none;
		list-style: none;
		padding: 0;
		margin: 0 0 1em 0;
		border-top: 1px #2c2d2c solid;
		
		@include susy-breakpoint($bigger-tablet) {
			display: table-row;
			border-top: none;
			border-right: 1px #4d4e4d solid;
			border-left: 1px #2c2d2c solid;
		}
	}

	li {
	
		@include susy-breakpoint($bigger-tablet) {
			display: table-cell;
		}
		a {
			display: block;
			background-color: $text-clr;
			font-size: 14px;
			text-align: center;
			text-transform: uppercase;
			text-decoration: none;
			color: #ffffff;
			line-height: 50px;
			
			&:hover {
				background-color: #565857;
			}
			
			
			@include susy-breakpoint($bigger-tablet) {
				border-right: 1px #2c2d2c solid;
				border-left: 1px #4d4e4d solid;				
			}
			
		}
		&.menu__item--order {
			
			a {
				background-color: $green;
				color: $text-clr;
				font-family: PlumbcBold, Plumbc, sans-serif;
				
				&:hover {
					color: #ffffff;	
				}
			}
			
			@include susy-breakpoint($bigger-tablet) {
				width: 20%;
			}
		}
	}
	.current{
		a {
			background-color: $background-clr;
			color: black;
		}
	}
	.first{
		a {
			background-color: $text-clr;
			color: #ffffff;
		}
	}
}

.menu__toggler {
	// font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	line-height: 50px;
	cursor: pointer;
	
	@include susy-breakpoint($bigger-tablet) {
		display: none;
	}
}
