.nav {
	list-style: none;
	padding-left: 0px;
	margin: 0px;
	width: 210px;
	li {
		margin-bottom: 45px;
	}
	li a {
		display: table-cell;
		text-decoration: none;
		line-height: 1.2;
		font-size: 18px;
		color: $blue;
		background-repeat: no-repeat;
		background-position: left center;
		padding-left: 100px;
		height: 55px;
		vertical-align: middle;
		text-align: left;
		font-weight: bold;
	}
	li a:hover {
		color: $green;
	}
	.nav__diploma a {
		background-image: url("../img/nav-book.png");
	}
	.nav__course a {
		background-image: url("../img/nav-course.png");
	}
	.nav__work a {
		background-image: url("../img/nav-work.png");
	}
	.nav__ref a {
		background-image: url("../img/nav-ref.png");
	}
	.nav__draft a {
		background-image: url("../img/nav-draft.png");
	}
	.nav__ex a {
		background-image: url("../img/nav-ex.png");
	}
	.nav__diploma a:hover {
		background-image: url("../img/nav-book_hover.png");
	}
	.nav__course a:hover {
		background-image: url("../img/nav-course_hover.png");
	}
	.nav__work a:hover {
		background-image: url("../img/nav-work_hover.png");
	}
	.nav__ref a:hover {
		background-image: url("../img/nav-ref_hover.png");
	}
	.nav__draft a:hover {
		background-image: url("../img/nav-draft_hover.png");
	}
	.nav__ex a:hover {
		background-image: url("../img/nav-ex_hover.png");
	}
}
