.ogromod {
	text-align: center;
	
	&__head {
		margin-top: 20px;
		margin-bottom: 10px;
		line-height: 1.1;
		
		font-size: 30px;
		
		font-weight: bold;
		color: #ffffff;
		
		@include susy-breakpoint($tablet) {
			margin-top: 55px;
			font-size: 49px;
		}
	}
	
	&__under-head {
		margin-top: 0px;
		font-size: 18px;
		color: #ffffff;
		
		@include susy-breakpoint($tablet) {
			font-size: 32px;
		}
	}
}

.features {
	@include clearfix;
	
	.features__item {
		@include span(full);
		margin-bottom: 0;
		color: #b7d8e5;
		font-family: PlumbcBold, Plumbc, sans-serif;
		
		* {
			vertical-align: middle;	
		}	
		
		@include susy-breakpoint($tablet) {
			@include span(1 of 3 inside no-gutters);
		}
	}
	
	.features__item-text {
		color: #b7d8e5;
		font-weight: bold;
		font-family: PlumbcBold, Plumbc, sans-serif;
	}
	
	.features__item-img {
		margin-right: 10px;
		display: none;
		
		@include susy-breakpoint($tablet) {
			display: inline;
		}
	}
}

.order-block {
	margin-top: 30px;
	margin-bottom: 30px;
}
