.payment {
	
	.payment__block {
		@include span(full);
		margin-bottom: 20px;
		text-align: center;
	}
	
	@include susy-breakpoint($bigger-tablet) {
		.payment__block {
			@include span(1 of 5 inside no-gutters);
			text-align: center;
			margin-bottom: 0px;
		}
	}
}