.review {
	line-height: 1.3;
	font-size: 16px;
	margin-bottom: 0px;
	
	&__author {
		text-align: right;
		font-family: PlumbcBold, Plumbc, sans-serif;
	}
}

.reviews__btn {
	margin-top: 43px;

	width: 190px;
	height: 41px;
	border: none;
	text-transform: uppercase;
	//font-weight: bold;
	font-family: PlumbcBold, Plumbc, sans-serif;
	font-size: 15px;
	letter-spacing: 2px;
	background-color: #e0e0e0;
}