.section {
	@include clearfix;
}

.section--top {
	@extend .section;
	background: #e6e6e6 url("../img/header-top.png")
	// background: url("../img/header-top.png");
}

.section--main-menu {
	@extend .section;
	background-color: $text-clr;
}

.section--board {
	@extend .section;
	background-color: $text-clr;
}

.section--ogromod {
	@extend .section;
	position: relative;
	padding-bottom: 10px;
	background-image: url("../img/head-back.jpg");
	// background-size: cover;
	background-repeat: repeat;
}

.section--payment {
	@extend .section;
	margin-top: 42px;
    margin-bottom: 31px;
}

.section--footer {
	@extend .section;
	background-color: $text-clr;
	padding-top: 34px;
	padding-bottom: 30px;
}
