.sidebar {
	@include span(full);
	padding-bottom: 17px;
	text-align: center;
	
	@include susy-breakpoint($desktop) {
		@include span(29% inside no-gutters);
		border-right: 4px $light-grey double;
		text-align: left;
	}
}
