.top {
	padding-bottom: 2px;
	padding-top: 5px;
	text-align: center;
	
	.top__col-1 {
		@include span(full);
	}
	
	.top__col-2 {
		@include span(full);
	}
	
	.top__col-3 {
		@include span(full);
	}
	
	.address-line {
		margin-top: 10px;
		margin-right: 15px;
		line-height: 1.2;
	}
	
	.phone {
		font-size: 30px;
		font-family: PlumbcBold, Plumbc, sans-serif;
		position: relative;
		top: 0px;
		
		@include susy-breakpoint($desktop) {
			top: 7px;
			font-size: 33px;
		}
	}
	
	.phone__img {
		width: 37px;
		height: 24px;
	}
	
	@include susy-breakpoint($desktop) {
		padding-top: 30px;
		
		.top__col-1 {
			@include span(3 of 12 inside no-gutters);
		}
		
		.top__col-2 {
			@include span(5 of 12 inside no-gutters);
			text-align: right;
		}
		
		.top__col-3 {
			@include span(4 of 12 inside no-gutters last);
			text-align: right;
		}
		
		.address-line {
			margin-top: 3px;
		}
		
		.phone {
			top: 7px;
		}
	}
}
