// Colors
$text-clr: #343634;
$blue: #1f8cbe;
$green: #9cc952;
$grey-text: #6a6a6a;
$light-grey: #d6d6d6;
$background-clr: #fdfdfd;


// Screens
$tablet: 600px;
$bigger-tablet: 760px;
$desktop: 980px;


$link-color: $blue;
