    form {
        box-sizing: content-box;
        display: block;
        width: 100%;
    }
    .clearfix:after{
        content: '';
        display: table;
        clear: both;
    }
    .form__field-group, .form__section{
        width: 100%;
    }
    
    .form__field-div {
        margin-bottom: 25px;
        display: block;
        width: 100%;
    }
    .form__field-label {
        width: 140px;
        float: left;
        margin-right: 15px;
        text-align: right;
        font-size: 14px;
        color: #333333;
        font-weight: 100;
        height: 30px;
        padding-top: 5px;
    }
    .form__field-wrapper {
        width: 425px;
        float: right;
    }
    .form__field {
        
    }
    .form__field-wrapper>input{
         height: 35px;
         width: 100%;
       
        border: solid 1px #d6d6d6;
    }
    .form__field-notes {
        margin: 3px 0 0;
        font-size: 10px;
        color: #838383;
    }
    .form__fieldset {
        font: 20px;
        color: #919191;
        display: block;
        margin-left: 180px;
        margin-bottom: 20px;
        margin-top: 10px;
        font-weight: 600;
    }
    .form__button-div{
        margin-left: 154px;
        margin-top: 40px;
        width: 100%;
    }
    .form__button{
        height: 60px;
        width: 300px;
        background: #9cc952;
        border: none;
    }
     .form__button-text{
        color: white;
        font-size: 22px;
        letter-spacing: 5px;
        font-weight: 600;
     }