.contacts-box {
    box-sizing: border-box;
}
.contacts-box__skype, .contacts-box__phone {
    float: left;
    span {
        padding-left: 5px;
        vertical-align: middle;
    }
}

.contacts-box__phone {
   margin-left: 40px;
}

.contacts-address {
    margin-top: 45px; 
}

.contacts-map {
    margin-top: 40px;
}