.clearfix:after{
    content:'';
    display:table;
    clear:both;
}
.service__box {
    width: 100%;
    display: block;
    margin-top: 85px;
}
.service__div-content  {
    float: left;
    width: 33%;
    box-sizing: border-box;

}
.col-1 {
    /*padding-right: 70px;
    position: relative;*/
}

.col-2 {
    /*padding-left: 88px;*/
}

.col-3 {
    /*padding-left: 162px;*/
}

.service__div-content img {
    position:relative;
    left: 50%; 
    top: 50%;
    margin-top: -50px;
    margin-left: -50px;

}
.col-2 span{
    /*padding-left: 10px;*/
}

.service__col-title{
    display: block;
    font-size: 35px;
    font-weight: lighter;
    text-align: center;
    width: 100%;
    box-sizing: content-box;
    position: relative;
}
.service__button-div{
    box-sizing: border-box;
    height: 45px;
    width: 190px;
    margin-left: 35%;
    margin-top: 55px;
    margin-bottom: 55px;
    position: relative;
    display: block;
    clear: both;
    background: #9cc952;
    border: none;
    text-align: center;
    vertical-align: middle;
    padding-top: 15px;
    cursor: pointer;
}
.service__button{
    text-decoration: none;
    display: block;
    height: 100%;
    
}
.service__button-text{
    color: white;
    font-size: 18px;
    letter-spacing: 4px;
    
 }