.button {
	display: block;
	color: #ffffff;
	width: 276px;
	height: 64px;
	text-transform: uppercase;
	background-color: $green;
	border: none;
	// font-weight: bold;
	font-family: PlumbcBold, Plumbc, sans-serif;
	letter-spacing: 3px;
	font-size: 28px;
	cursor: pointer;
	text-decoration: none;
	position: relative;
	left: 50%;
	margin-left: -139px;
}
.button span {
	vertical-align: middle;
	padding-top: 30px;
}