.widget {
	&__heading {
		color: $grey-text;
		font-size: 24px;
		font-weight: bold;
		margin-top: 7px;
		margin-bottom: 20px;
	}
}

.widget--nav {
	width: 210px;
	margin-left: auto;
	margin-right: auto;
	
	@include susy-breakpoint($desktop) {
		margin-left: 0px;
		margin-right: 0px;
	}
	
	& .nav {
		padding-top: 23px;
	}
}

.widget--reviews {
	width: 260px;
	position: relative;
	margin: 0 auto 55px auto;
	// text-align: center;
	padding: 15px 15px 15px 15px;
	border: 1px $light-grey solid;
	
	&:after {
		content: '';
		display: block;
		height: 50px;
		background-image: url("../img/balloon-bg.png");
		background-repeat: no-repeat;
		background-size: contain;
		width: 42px;
		height: 22px;
		position: absolute;
		bottom: -22px;
		left: 20%;
	}
	
	@include susy-breakpoint($desktop) {
		margin: 0 0 55px 0;
	}
}
