@font-face {
  font-family: "Plumbc";
  font-weight: normal;
  src: url('fonts/plumbc__.eot');
  src: local('plumbc'), url('../fonts/plumbc__.ttf') format('truetype');
}

@font-face {
  font-family: "PlumbcBold";
  font-weight: bold;
  src: url('../fonts/plumbc-b.eot');
  src: local('plumbc'), url('../fonts/plumbc-b.ttf') format('truetype');
}