/**
 * Basic typography style for copy text
 */
 
/*
body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}
*/


body {
	color: $text-clr;
	font-family: Plumbc, sans-serif;
	background: $background-clr;
}

.container {
	@include container(1000px);
	@include clearfix;
	padding: 0px 12px;
	position: relative;
}

h1, h2, h3, h4, h5, h6 {
	font-family: PlumbcBold, Plumbc, sans-serif;
}